/* navigation bar */
*{
    font-family: "Sedan", serif;
}
.nav-item{
    margin-left: 2rem;
}
/* .custom-page{
    margin-bottom: 50px !important;
} */
@media screen and (max-width: 768px){
    .nav-item{
        margin-left: 0;
    }
    
}
.custom-img{
    width: 50px;
    height: 50px;
    min-height: 40px;
    min-width: 40px;
}
.card>img{
    max-height: 20rem;
}
.card-body>p, .custom-text{
    text-align: justify;
}
.card-img-top {
    object-fit: cover;
    height: 200px; /* Adjust the height as needed */
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
html{
    scroll-behavior: smooth;
}
.review-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-image {
    width: 100%;
    border-radius: 50%;
}

.review-text {
    font-size: 1.2rem;
    font-style: italic;
}

.review-author {
    font-size: 1.2rem;
    font-weight: bold;
}
.contact-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
 a{
    text-decoration:none;
}
.navbar{
    font-weight: bolder;
}
@media screen and (max-width: 480px) {
    /* Your CSS code for mobile screens goes here */
    #home{
        height: 100vh;
    }
    .custom-page{
        margin-top: 10px;
    }
    .custom-chickenpic{
        margin-top: -15px;
    }
    #review{
        height: 100vh;
    }
    .custom-page>button{
        margin-top: 4px;
    }
   .container-fluid footer{
    font-size: medium !important;
   }
}
